<%= form_with(model: @budget, local: true) do |form| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this @budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, @categories, :id, :name %>
  </div>

  <div class="field">
    <%=form.label :notes%>
    <%= form.text_area :notes%>
  </div>

  <div class="field">
    <%= form.label :budget_month %>
    <%= form.select :budget_month, options_for_select(@next_12_months.map { |date| [date.strftime("%B %Y"), date] }, selected: @budget.budget_month) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
