<h1>Budget Details</h1>

<p>
  <strong>Amount:</strong>
  <%= @budget.amount %>
</p>

<p>
  <strong>Spent:</strong>
  <%= @budget.spent_amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @budget.category&.name %>
</p>

<p>
  <strong>Note:</strong>
  <%=@budget.notes%>
</p>

<p>
  <strong>Period:</strong>
  <%= @budget.budget_month.strftime("%B %Y") %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @budget.created_at.strftime('%Y-%m-%d %H:%M') %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
