<h1>New Transaction</h1>

<%= form_with model: @transaction, local: true do |form| %>
  <div>
    <%= form.label :type, "Transaction Type" %>
    <%= form.select :type, options_for_select(['Transactions::Expense', 'Transactions::Income', 'Transactions::Transfer'], @transaction.type), prompt: 'Select Transaction Type' %>
  </div>
  
  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :source_account_id, "Source Account" %>
    <%= form.collection_select :source_account_id, @accounts, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.label :destination_account_id, "Destination Account" %>
    <%= form.collection_select :destination_account_id, @accounts, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.label :category_id, "Category" %>
    <%= form.collection_select :category_id, @categories, :id, :name %>
  </div>  
  
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :label_id, "Label" %>
    <%= form.collection_select :label_id, @labels, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.submit "Create Transaction" %>
  </div>
<% end %>
