<h1>New Transaction</h1>

<%= form_with model: @transaction, local: true, data: { controller: "transaction" } do |form| %>
 <div>
  <label for="transaction_type">Transaction Type</label>
  <select name="transaction[type]" id="transaction_type" data-action="change->transaction#toggleAccountFields" data-transaction-target="transactionType">
    <option value="">Select Transaction Type</option>
    <option value="Transactions::Expense" <%= 'selected' if @transaction.type == 'Transactions::Expense' %>>Expense</option>
    <option value="Transactions::Income" <%= 'selected' if @transaction.type == 'Transactions::Income' %>>Income</option>
    <option value="Transactions::Transfer" <%= 'selected' if @transaction.type == 'Transactions::Transfer' %>>Transfer</option>
  </select>
</div>

  <div data-transaction-target="sourceAccount" style="display:none;">
    <%= form.label :source_account_id, "Source Account" %>
    <%= form.collection_select :source_account_id, @accounts, :id, :name, include_blank: true %>
  </div>

  <div data-transaction-target="destinationAccount" style="display:none;">
    <%= form.label :destination_account_id, "Destination Account" %>
    <%= form.collection_select :destination_account_id, @accounts, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div data-transaction-target="category" style="display:none;">
    <%= form.label :category_id, "Category" %>
    <%= form.collection_select :category_id, @categories, :id, :name, include_blank: true %>
  </div>  
  
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.submit "Create Transaction" %>
  </div>
<% end %>
