<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  <body>
 
    <% if user_signed_in? %>
      <div class="navbar">
      <p><%= link_to "#{current_user&.name}", root_path %></p>
      <a href="<%= new_account_path %>">New Account</a>
      <a href="<%= new_budget_path %>">New Budget</a>
      <a href="<%= new_transaction_path %>"> New Transaction </a>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
      </div>
    <%end%>

    <%= yield %>
  </body>
</html>
