  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% @account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name%>
</div>

<div>
  <%= form.label :account_number %>
  <%= form.text_field :account_number%>
</div>

<div>
  <%= form.label :account_type %>
<%= form.select :account_type, options_for_select([['Cash Account', 'cash'], ['Current Account', 'current'], ['Savings Account', 'saving'], ['Investment Account', 'investment'], ['Personal Account', 'personal']]), {} %>
</div>

<div>
  <%= form.label :balance %>
  <%= form.text_field :balance%>
</div>


<div >
  <%= form.submit %>
</div>
