<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Account Number:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>Type of Account:</strong>
  <%= @account.type%>
</p>

<p>
  <strong>Currency:</strong>
  <%= @account.currency %>
</p>

<p>
  <strong>Color:</strong>
  <%= @account.color %>
</p>

<%= link_to 'Edit', edit_account_path(@account)%>
<%= link_to 'Back', accounts_path %>
